# Directories
node_modules
src/proxy/node_modules
dist
tmp
dev-tools
.husky
.github
.vscode
.angular
.idea

# Files
.dockerignore
.gitignore
.prettierrc
Dockerfile
eslint.config.js
LICENSE
Makefile
package-lock.json

# Extensions
*.md