@import '../../../styles/common_styles.css';

.test-case-details {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}
.test-case-details td {
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
}
.test-case-details td:first-child {
  font-weight: bold;
  color: #333;
  width: 150px;
}
