@import '../../../styles/common_styles.css';

.results-table {
  margin: 16px 0;
  padding: 10px;
}

.close-button {
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
}

.close-button:focus {
  outline: none;
}

.close-button mat-icon {
  font-size: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
