@import '../../../styles/common_styles.css';

.results-table {
  margin: 16px 0;
  padding: 10px;
}

.close-button {
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
}

.close-button:focus {
  outline: none;
}

.close-button mat-icon {
  font-size: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 33%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.right-column {
  justify-content: center;
  align-items: center;
  height: 100%;
}

app-suite-case-details-table,
app-properties-table,
app-test-suite-bar-chart {
  flex: 1;
}

app-test-suite-bar-chart {
  width: 75%;
  height: 100%;
  padding-right: 20px;
}

h1 {
  margin: 0;
}
