@import '../../../styles/common_styles.css';

.test-case-details,
.nested-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.test-case-details td,
.nested-table td {
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
}

.test-case-details td:first-child,
.nested-table td:first-child {
  font-weight: bold;
  color: #333;
  width: 150px;
}

.properties-container,
.code-container {
  margin-bottom: 16px;
}

.subtle-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 16px 0;
  height: 1px;
}
