<div class="header-container">
  <h1>
    <span mat-dialog-title class="monospace">{{ data.testCase.name }}</span>
  </h1>
  <button mat-icon-button (click)="closeDialog()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <table class="test-case-details">
    <tr *ngIf="data.testCase.time">
      <td><strong>Time:</strong></td>
      <td class="monospace">{{ data.testCase.time }}s</td>
    </tr>
    <tr *ngIf="data.testCase.className">
      <td><strong>Class Name:</strong></td>
      <td class="monospace">{{ data.testCase.className }}</td>
    </tr>
    <tr *ngIf="data.testCase.status">
      <td><strong>Status:</strong></td>
      <td class="monospace">{{ data.testCase.status }}</td>
    </tr>
    <tr *ngIf="data.testCase.file">
      <td><strong>File:</strong></td>
      <td class="monospace">{{ data.testCase.file }}</td>
    </tr>
    <tr *ngIf="data.testCase.line">
      <td><strong>Line:</strong></td>
      <td class="monospace">{{ data.testCase.line }}</td>
    </tr>
    <tr *ngIf="data.testCase.assertions">
      <td><strong>Assertions:</strong></td>
      <td class="monospace">{{ data.testCase.assertions }}</td>
    </tr>
    <tr *ngIf="data.testCase.type">
      <td><strong>Type:</strong></td>
      <td class="monospace">{{ data.testCase.type }}</td>
    </tr>
  </table>

  <div *ngIf="data.testCase.properties && data.testCase.properties.length" class="properties-container">
    <hr class="subtle-separator" />
    <table class="nested-table">
      <tr *ngFor="let property of data.testCase.properties">
        <td class="monospace">
          <strong>{{ property.name }}:</strong>
        </td>
        <td class="monospace">{{ property.value }}</td>
      </tr>
    </table>
  </div>

  <hr class="subtle-separator" />

  <div class="code-container">
    <h3>System Out</h3>
    <pre>{{ data.testCase.systemOut || 'NULL' }}</pre>
  </div>
  <div class="code-container">
    <h3>System Err</h3>
    <pre>{{ data.testCase.systemErr || 'NULL' }}</pre>
  </div>
  <div class="code-container">
    <h3>Message</h3>
    <pre>{{ data.testCase.message || 'NULL' }}</pre>
  </div>
</div>

<div tabindex="-1" cdkFocusInitial></div>
