@import '../../../styles/common_styles.css';

.test-case-details,
.nested-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.test-case-details td,
.nested-table td {
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
}

.test-case-details td:first-child,
.nested-table td:first-child {
  font-weight: bold;
  color: #333;
  width: 150px;
}

.properties-container,
.code-container {
  margin-bottom: 10px;
}

.subtle-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 16px 0;
  height: 1px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

h1 {
  margin: 0;
}

.close-button {
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
}

.close-button:focus {
  outline: none;
}

.close-button mat-icon {
  font-size: 24px;
}
