<div class="header-container">
  <h1>
    <span mat-dialog-title class="monospace">{{ data.testCase.name }}</span>
  </h1>
  <button mat-icon-button (click)="closeDialog()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <app-suite-case-details-table [data]="data.testCase"></app-suite-case-details-table>

  <app-properties-table [properties]="data.testCase.properties"></app-properties-table>

  <hr class="subtle-separator" />

  <div class="code-container">
    <h3>System Out</h3>
    <pre>{{ data.testCase.systemOut || 'NULL' }}</pre>
  </div>
  <div class="code-container">
    <h3>System Err</h3>
    <pre>{{ data.testCase.systemErr || 'NULL' }}</pre>
  </div>
  <div class="code-container">
    <h3>Message</h3>
    <pre>{{ data.testCase.message || 'NULL' }}</pre>
  </div>
</div>

<div tabindex="-1" cdkFocusInitial></div>
