.mat-elevation-z8 {
  margin: 16px 0;
}

.passed {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}

.error {
  color: orange;
  font-weight: bold;
}

.skipped {
  color: blue;
  font-weight: bold;
}

.message-container {
  display: flex;
  align-items: center;
}

.message-container pre {
  margin: 0;
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
  max-width: 200px; /* Set a maximum width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) to overflow text */
  font-size: 12px; /* Make the text smaller */
}

.message-container button {
  margin-left: 8px;
}