@import '../../../../../shared/styles/common_styles.css';

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
