<div class="header-container">
  <h1>
    <span mat-dialog-title>New Product</span>
  </h1>
  <button mat-icon-button (click)="onClose()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Short Name</mat-label>
      <input matInput formControlName="shortName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact Email</mat-label>
      <input matInput formControlName="contactEmail" />
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
