<h2 mat-dialog-title>{{ product.fullName }} <span class="light-text"> | {{product.shortName}}</span></h2>
<mat-dialog-content>
  <p><strong>Contact Email:</strong> <a href="mailto:{{ product.contactEmail }}">{{ product.contactEmail }}</a></p>
  <div class="id-container">
    <strong>ID:</strong> {{ product.id | slice:0:8 }}
    <button mat-icon-button class="small-icon-button" (click)="copyToClipboard(product.id)">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="Integrations">
      <app-integrations-tab [product]="product"></app-integrations-tab>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<button mat-icon-button class="close-button" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
