<div class="header-container">
  <h1>
    <span mat-dialog-title>New Rule</span>
  </h1>
  <button mat-icon-button (click)="onClose()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="ruleForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Expression</mat-label>
      <input matInput formControlName="expression" required />
    </mat-form-field>
    <div class="checkbox-container">
      <mat-label>Applies To</mat-label>
      <mat-checkbox formControlName="appliesToCases">Test Cases</mat-checkbox>
      <mat-checkbox formControlName="appliesToSuites">Test Suites</mat-checkbox>
    </div>
  </form>
</div>
<mat-dialog-actions class="actions-container">
  <button mat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>