@import '../../../styles/common_styles.css';

.full-width {
  width: 100%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
