<div *ngIf="product" class="product-details-container">
  <div class="header-container">
    <h2>
      <span class="mat-primary">{{ product.fullName }}</span> <span class="light-text"> | {{ product.shortName }}</span>
    </h2>
    <button mat-icon-button (click)="goBack()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <p>
      <strong>Contact Email: </strong>
      <a class="link" href="mailto:{{ product.contactEmail }}">{{ product.contactEmail }}</a>
    </p>
    <div class="id-container">
      <strong>ID: </strong>
      <span class="id-value monospace">{{ product.id | slice: 0 : 8 }}</span>
      <button mat-icon-button class="small-icon-button" (click)="copyToClipboard(product.id, $event)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-tab-group *ngIf="product" class="tab-group">
  <mat-tab label="Results">
    <app-test-results-tab [uuid]="product.id"></app-test-results-tab>
  </mat-tab>
  <mat-tab label="Integrations">
    <app-integrations-tab [product]="product"></app-integrations-tab>
  </mat-tab>
</mat-tab-group>
